@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@font-face {
  font-family: "Bayshore";
  font-style: normal;
  font-weight: normal;
  src: local("Bayshore"), url('../fonts/bayshore.otf') format('opentype');
}

.login-container {
  color: #fff;
  background-color: #000;
}

.password-input {
  color: black;
  background-color: white;
}

.link-active {
  border-bottom: 1px solid black;
}
